<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <!--v-model-->
    <div id="app">
        <h1>FirstName = {{firstName}}</h1>
        <p>{{about}}</p>
        <input type="text" v-model="firstName" name="firstName" id="firstName" placeholder="Nhập first name">
        <textarea name="about" id="about" v-model="about" cols="30" rows="10"></textarea>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                firstName: '',
                about: '',
            },
            methods: {
            },
            computed: {

            },
        })
    </script>
</body>

</html>