<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <!--v-model-->
    <div id="app">
        <div class="user" v-for="user in userActive">{{user.email}}</div>
        <ul>
            <li class="number" v-for="number in arrNumber">{{number}}</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                arrUser: [
                    { email: 'test1@gmail.com', isActive: true },
                    { email: 'test2@gmail.com', isActive: true },
                    { email: 'test3@gmail.com', isActive: false },
                    { email: 'test4@gmail.com', isActive: false },
                    { email: 'test5@gmail.com', isActive: false },
                    { email: 'test6@gmail.com', isActive: false },
                ],
                arrNumber: [1, 2, 3, 4, 5, 6,],
            },
            methods: {

            },
            computed: {
                userActive()
                {
                    // lọc phần tử
                    return this.arrUser.filter(function (u)
                    {
                        return u.isActive;
                    });
                }
            },
        })
    </script>
</body>

</html>